
body {
    background: #4568DC;  /* fallback for old browsers */
    background: linear-gradient(to right, #B06AB3, #4568DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);  /* Chrome 10-25, Safari 5.1-6 */
}

hr {
    color: #123455;
}

.max-width-10 {
    min-width: 10px
}

.print {
    visibility: hidden;
}

@media print {
    #FormAndList {
      visibility: hidden;
    }
    .printThis{
      visibility: visible;
    }
    .print.top{
      position: absolute;
      left: 50;
      top: 50;
    }
    .print.center{
        position: absolute;
        left: 200;
        top: 50;
    }
}


