@keyframes appear{

    0% {
        
    }

    100% {
        
    }
}

#border1{
    animation: appear 1s infinite;
}

#border2{
    animation: appear 1s infinite;
}

.d-flex > li {
    list-style-type: none;
}

form > ul.d-flex > li {
    margin-right: 5px
}

.card {
    border: none
}

