body > div {
    padding-top: 100px;
}

div.p-2 {
    width: 100%;
}

button {
    width: 100%;
}

.input-group-addon.white-none {
    background-color: white;
    border: none;
    height: 25px;
}

